# Compiled Object files
*.o
*.obj
build/*.d
build/*.map

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.elf
*.hex
*.bin

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
